spring:
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDRS:nacos:8848}
  application:
    name: ts-consign-price-service
  datasource:
    url: jdbc:mysql://${CONSIGN_PRICE_MYSQL_HOST:ts}:${CONSIGN_PRICE_MYSQL_PORT:3306}/${CONSIGN_PRICE_MYSQL_DATABASE:ts-consign-price-mysql}?useSSL=false
    username: ${CONSIGN_PRICE_MYSQL_USER:root}
    password: ${CONSIGN_PRICE_MYSQL_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect


# HTTP Server
server:
  port: 16110

swagger:
  controllerPackage: consignprice.controller