server:
  port: 18807

spring:
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDRS:nacos:8848}
  application:
    name: ts-delivery-service
  datasource:
    url: jdbc:mysql://${DELIVERY_MYSQL_HOST:ts}:${DELIVERY_MYSQL_PORT:3306}/${DELIVERY_MYSQL_DATABASE:delivery}?useSSL=false
    username: ${DELIVERY_MYSQL_USER:root}
    password: ${DELIVERY_MYSQL_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: ${rabbitmq_host:rabbitmq}
    port: 5672
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
