server:
  port: 19999

spring:
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDRS:nacos:8848}
  application:
    name: ts-train-food-service
  datasource:
    url: jdbc:mysql://${TRAIN_FOOD_MYSQL_HOST:ts}:${TRAIN_FOOD_MYSQL_PORT:3306}/${TRAIN_FOOD_MYSQL_DATABASE:trainFood}?useSSL=false
    username: ${TRAIN_FOOD_MYSQL_USER:root}
    password: ${TRAIN_FOOD_MYSQL_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

swagger:
  controllerPackage: trainFood.controller