version: '3'
services:

#  rabbitmq:
#    image: rabbitmq:management
#    ports:
#      - 5672:5672
#      - 15672:15672
#    networks:
#      - train-ticket

  # kafka:
  #   container_name: kafka
  #   image: spotify/kafka:latest
  #   ports:
  #    - 2181:2181
  #    - 9092:9092
  #   networks:
  #     - train-ticket

#  zipkin:
#    image: openzipkin/zipkin
#    ports:
#      - 9411:9411
#    networks:
#      - train-ticket

  interceptor:
    image: mitmproxy/mitmproxy:10.2.4
    container_name: mitmproxy-interceptor
    command: mitmweb -s /interceptor/demo.py --web-host 0.0.0.0
    ports:
      - "8900:8081" # 通过 localhost:8900 访问 mitmweb
      - "8070:8080" # 监听端口，各微服务的代理服务器需设置为 interceptor:8080
    volumes:
      - C:\Me\Train-Ticket-Benchmark\http-interceptor:/interceptor
    networks:
      - train-ticket
      
  nacos:
    image: nacos/nacos-server:2.0.1
    ports:
      - 8848:8848
      - 9848:9848
    environment:
      - MODE=standalone
    networks:
      - train-ticket

  oap-server:
    image: apache/skywalking-oap-server:9.2.0
    container_name: oap-server
    restart: always
    networks:
      - train-ticket

  oap-ui:
    image: apache/skywalking-ui:9.2.0
    container_name: oap-ui
    restart: always
    environment:
      - SW_OAP_ADDRESS=http://oap-server:12800
    ports:
      - "8090:8080"
    networks:
      - train-ticket

  redis:
    image: redis:7.0.0
    ports:
      - 6379:6379
    networks:
      - train-ticket

  ts-auth-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-user-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-route-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
        - train-ticket


  ts-contacts-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-order-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-order-other-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-config-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-station-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-train-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket


  ts-travel-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-travel2-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-price-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-notification-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-security-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-inside-payment-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-payment-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-rebook-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-assurance-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-news-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-voucher-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    expose:
      - "3306"
    networks:
      - train-ticket

  ts-consign-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-consign-price-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-food-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-delivery-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-food-delivery-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-gateway-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
    command: "--innodb_use_native_aio=0"

  ts-station-food-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

  ts-train-food-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket
  
  ts-wait-order-mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - train-ticket

networks:
    train-ticket:
      # driver: overlay
      driver: bridge





