server:
  port: 12340
spring:
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDRS:nacos:8848}
  application:
    name: ts-auth-service
  datasource:
    url: jdbc:mysql://${AUTH_MYSQL_HOST:ts}:${AUTH_MYSQL_PORT:3306}/${AUTH_MYSQL_DATABASE:auth}?useSSL=false
    username: ${AUTH_MYSQL_USER:root}
    password: ${AUTH_MYSQL_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect


swagger:
  controllerPackage: auth.controller
